/*----------------*/
/*  Grid - Start  */
/*----------------*/

*, *:before, *:after {
  margin: 0;
  padding: 0;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid { margin: 0 auto; width: 100%; max-width: 100%; }

.row { margin: 0 auto; padding-left: 10px; padding-right: 10px; }

.row:before, .row:after,
.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after { clear: both }

.w-full { width:100%; max-width:100%; padding: 0 !important }
.w-1024 { width: 100%; max-width: 1024px; }
@media only screen and (min-width: 1024px) {
  .w-1024 { width: 1024px; max-width: 1024px; }
}

.col-fluid { padding: 0; }

.col-5, .col-10, .col-15, .col-20, .col-25, .col-30, .col-35, .col-40, .col-45, .col-50, .col-55, .col-60, .col-65, .col-70, .col-75, .col-80, .col-85, .col-90, .col-95, .col-100, .col-33, .col-66 {
  padding: 10px;
}

.col-100:before, .col-100:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.col-100:after { clear: both }

.last { float:right !important }

.push-5, .pull-5, .push-10, .pull-10, .push-15, .pull-15, .push-20, .pull-20, .push-25, .pull-25, .push-30, .pull-30, .push-35, .pull-35, .push-40, .pull-40, .push-45, .pull-45, .push-50, .pull-50, .push-55, .pull-55, .push-60, .pull-60, .push-65, .pull-65, .push-70, .pull-70, .push-75, .pull-75, .push-80, .pull-80, .push-85, .pull-85, .push-90, .pull-90, .push-95, .pull-95, .push-33, .pull-33, .push-66, .pull-66 { position: relative }

.col-5 { float: left; width: 5% }
.col-10 { float: left; width: 10% }
.col-15 { float: left; width: 15% }
.col-20 { float: left; width: 20% }
.col-25 { float: left; width: 25% }
.col-30 { float: left; width: 30% }
.col-35 { float: left; width: 35% }
.col-40 { float: left; width: 40% }
.col-45 { float: left; width: 45% }
.col-50 { float: left; width: 50% }
.col-55 { float: left; width: 55% }
.col-60 { float: left; width: 60% }
.col-65 { float: left; width: 65% }
.col-70 { float: left; width: 70% }
.col-75 { float: left; width: 75% }
.col-80 { float: left; width: 80% }
.col-85 { float: left; width: 85% }
.col-90 { float: left; width: 90% }
.col-95 { float: left; width: 95% }
.col-33 { float: left; width: 33.33333% }
.col-66 { float: left; width: 66.66667% }
.col-100 { clear: both; width: 100% }

.col-fluid .col-5 { float: left; width: 5% }
.col-fluid .col-10 { float: left; width: 10% }
.col-fluid .col-15 { float: left; width: 15% }
.col-fluid .col-20 { float: left; width: 20% }
.col-fluid .col-25 { float: left; width: 25% }
.col-fluid .col-30 { float: left; width: 30% }
.col-fluid .col-35 { float: left; width: 35% }
.col-fluid .col-40 { float: left; width: 40% }
.col-fluid .col-45 { float: left; width: 45% }
.col-fluid .col-50 { float: left; width: 50% }
.col-fluid .col-55 { float: left; width: 55% }
.col-fluid .col-60 { float: left; width: 60% }
.col-fluid .col-65 { float: left; width: 65% }
.col-fluid .col-70 { float: left; width: 70% }
.col-fluid .col-75 { float: left; width: 75% }
.col-fluid .col-80 { float: left; width: 80% }
.col-fluid .col-85 { float: left; width: 85% }
.col-fluid .col-90 { float: left; width: 90% }
.col-fluid .col-95 { float: left; width: 95% }
.col-fluid .col-33 { float: left; width: 33.33333% }
.col-fluid .col-66 { float: left; width: 66.66667% }

.push-5 { left: 5% }
.push-10 { left: 10% }
.push-15 { left: 15% }
.push-20 { left: 20% }
.push-25 { left: 25% }
.push-30 { left: 30% }
.push-35 { left: 35% }
.push-40 { left: 40% }
.push-45 { left: 45% }
.push-50 { left: 50% }
.push-55 { left: 55% }
.push-60 { left: 60% }
.push-65 { left: 65% }
.push-70 { left: 70% }
.push-75 { left: 75% }
.push-80 { left: 80% }
.push-85 { left: 85% }
.push-90 { left: 90% }
.push-95 { left: 95% }
.push-33 { left: 33.33333% }
.push-66 { left: 66.66667% }

.pull-5 { left: -5% }
.pull-10 { left: -10% }
.pull-15 { left: -15% }
.pull-20 { left: -20% }
.pull-25 { left: -25% }
.pull-30 { left: -30% }
.pull-35 { left: -35% }
.pull-40 { left: -40% }
.pull-45 { left: -45% }
.pull-50 { left: -50% }
.pull-55 { left: -55% }
.pull-60 { left: -60% }
.pull-65 { left: -65% }
.pull-70 { left: -70% }
.pull-75 { left: -75% }
.pull-80 { left: -80% }
.pull-85 { left: -85% }
.pull-90 { left: -90% }
.pull-95 { left: -95% }
.pull-33 { left: -33.33333% }
.pull-66 { left: -66.66667% }


/* IE10 Snap Mode Fix http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/ */
@media screen and (max-width: 400px) {
  @-ms-viewport { width: 320px }
}


@media only screen and (max-width: 768px) {

  .col-5, .col-10, .col-15, .col-20, .col-25, .col-30, .col-35, .col-40, .col-45, .col-50, .col-55, .col-60, .col-65, .col-70, .col-75, .col-80, .col-85, .col-90, .col-95, .col-33, .col-66 { float:left; width: 100%; }

  .push-5, .pull-5, .push-10, .pull-10, .push-15, .pull-15, .push-20, .pull-20, .push-25, .pull-25, .push-30, .pull-30, .push-35, .pull-35, .push-40, .pull-40, .push-45, .pull-45, .push-50, .pull-50, .push-55, .pull-55, .push-60, .pull-60, .push-65, .pull-65, .push-70, .pull-70, .push-75, .pull-75, .push-80, .pull-80, .push-85, .pull-85, .push-90, .pull-90, .push-95, .pull-95, .push-33, .pull-33, .push-66, .pull-66 { left: 0 }

}

@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) and (orientation:portrait) {

  .col-5, .col-10, .col-15, .col-20, .col-25, .col-30, .col-35, .col-40, .col-45, .col-50, .col-55, .col-60, .col-65, .col-70, .col-75, .col-80, .col-85, .col-90, .col-95, .col-33, .col-66 { float:left; width: 100%; }

}

@media print {
  .col-5, .col-10, .col-15, .col-20, .col-25, .col-30, .col-35, .col-40, .col-45, .col-50, .col-55, .col-60, .col-65, .col-70, .col-75, .col-80, .col-85, .col-90, .col-95, .col-33, .col-66 { display:block; float:left; width: 100%; }
}
/*-------------------------*/
/*  Responsive Grid - End  */
/*-------------------------*/