
.quick-links{
width:100%;
position:fixed; 
display: flex;
z-index: 1;
padding-bottom:.5%;
padding-top:1%;
background:black;
}
.quick-links a{
  text-decoration: none;
  color:black;
  font-style: oblique;
}
.button-nav{
  width:48%;
     margin-left:1%;
   margin-right:1%;
  text-align: center;
  border-radius:10px;
  background-color:white;
  border-bottom-style: outset;
  border-top-style: outset;
  border-right-style:inset;
  border-left-style:outset;
}
.button-call{
   width:48%;
   margin-left:1%;
   margin-right:1%;
  text-align: center;
  border-radius:10px;
  background-color:white;
  border-bottom-style: outset;
  border-top-style: outset;
  border-right-style:inset;
  border-left-style:outset;
}
.item-title{
color:white;
font-size: 14px;
font-family: fantasy;
font-style: oblique;
background-color:firebrick;
height:100px;
border-top-style:outset;
}
.row-container{
  color:white;
  font-style: oblique;
  font-family: fantasy;
  padding-top: 1%;
  padding-bottom:1%;
  width:100%;
  background-color:firebrick;
  text-align: center;
  border-bottom-style: inset;
  border-color:dimgrey;
}
.rowcontainer a {
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: fantasy;
  text-decoration: none;
}
.home-holder{
  background-color: white;
}
.menu-holder{
  background-color: grey;
}
.contact-us-holder{
  background-color: white;
}
.nav-wrapper{
  height:550px;
      background-repeat:   no-repeat;
    background-size: cover;
      background-image:url(http://media.istockphoto.com/photos/red-picnic-cloth-on-wooden-backgroundnapkin-tablecloth-on-old-wood-picture-id500591460?k=6&m=500591460&s=170667a&w=0&h=IKroI2LnEgavg-aXO9m6uAhLhkEguv03OHXxcYgruyg=);
        background-position:100% 50%;
}
.nav-menu li{
text-align:center;
text-decoration:none;
color:white;
font-style:oblique;
  background-color:#282828;
}
.nav-menu h4{
  color:black;
  font-family:fantasy;
  font-style:oblique;
  border-bottom: inset;
  border-color:firebrick;
  padding-top:.5%;
    background-color:white;
}
.nav-menu h3{
  color:black;
  font-family:fantasy;
  font-style:oblique;
  border-bottom: outset;
  padding-top:.5%;
    background-color:dimgrey;
}


.dropdown1{
  position:relative;
  list-style-type:none;
    background-color:#282828 ;
}
.dropnav1{
  position:relative;
    background-color:dimgrey;
  
}
.dropnav1 li{
 list-style-type:none; 
   background-color:dimgray;
}
.dropdown1:hover > .dropnav1{
  display: block;
    background-color:dimgrey;
}
.dropdown2{
  position:relative;
  list-style-type:none;
    background-color:dimgrey;
}
.dropnav2{
  position:relative;
    background-color:dimgrey;
}
.dropnav2 li{
  list-style-type:none;
    background-color:dimgrey;
}
.dropdown2:hover > .dropnav2{
  display: block;
    background-color:dimgrey;
}
.dropdown3{
  position:relative;
  list-style-type:none;
    background-color:dimgrey;
}
.dropnav3{
  position:relative;
    background-color:dimgrey;
}
.dropnav3 li{
  list-style-type:none;
    background-color:dimgrey;
}
.dropdown3:hover > .dropnav3{
  display: block;
    background-color:dimgrey;
}
.dropdown4{
  position:relative;
  list-style-type:none;
    background-color:dimgrey;
}
.dropnav4{
  position:relative;
    background-color:dimgrey;
}
.dropnav4 li{
  list-style-type:none;
    background-color:dimgrey;
}
.dropdown4:hover > .dropnav4{
  display: block;
    background-color:dimgrey;
}
.dropdown5{
  position:relative;
  list-style-type:none;
    background-color:dimgrey;
}
.dropnav5{
  position:relative;
    background-color:dimgrey;
}
.dropnav5 li{
  list-style-type:none;
    background-color:dimgrey;
  
}
.dropdown5:hover > .dropnav5{
  display: block;
    background-color:dimgrey;
}
.social a{
  text-decoration: none;
}
.footer{
  width:100%;
  color:white;
  background-color: firebrick;
  border-top-style: inset;
  border-color:dimgrey;
  border-width:25px;
}
